/* ajout du backgroud image */

.App{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.contenair{
    width: 95%;
    height: 100%;
    margin: 20px;


}
.Header{
    width: 100%;
    height: 50px;
}

ul {
    padding:0;
    margin:0;
    list-style-type:none;
    width: 100%;
    text-align: center;
}
li {
 margin-left:2px;
float: left; 
padding-left: 50px;
}
   ul li a {
    display:block;
    float:center;   
    width:100%;
    background-color:#6495ED;
    color:black;
    text-decoration:none;
    text-align:center;
    padding:5px;
    border:2px solid;
    border-color:#DCDCDC #696969 #696969 #DCDCDC;
    }
   ul li a:hover {
    background-color:#D3D3D3;
    border-color:#696969 #DCDCDC #DCDCDC #696969;
    } 




.color{
    color: #F0f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}